<span class="sp-checkbox__control">
  <span class="sp-checkbox__box">
    <svg class="sp-checkbox__check" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 5L4.5 8.5L11 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg class="sp-checkbox__dash" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1H9" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </span>
</span>
<span class="sp-checkbox__label">{{ label }}</span>
