<div class="sp-avatar" [ngClass]="['sp-avatar--' + size, 'sp-avatar--' + type]">
  <!-- Text initials -->
  <span *ngIf="type === 'text'" class="sp-avatar__initials">{{ initials }}</span>

  <!-- Image -->
  <img
    *ngIf="type === 'image'"
    class="sp-avatar__image"
    [src]="imageSrc"
    [alt]="imageAlt"
  />

  <!-- Icon (account-outline) -->
  <sp-icon
    *ngIf="type === 'icon'"
    class="sp-avatar__icon"
    name="account-outline"
    [size]="iconSize"
    color="currentColor"
  ></sp-icon>

  <!-- Status indicator -->
  <span *ngIf="showStatus" class="sp-avatar__status"></span>

  <!-- Notification badge -->
  <span *ngIf="showNotification" class="sp-avatar__notification">
    {{ notificationCount }}
  </span>
</div>
