<label
  class="sparkline-checkbox"
  [class.sparkline-checkbox--disabled]="disabled"
  data-component="checkbox"
>
  <input
    #checkboxInput
    type="checkbox"
    class="sparkline-checkbox__input"
    [checked]="checked"
    [disabled]="disabled"
    (change)="onChange($event)"
  />
  <span class="sparkline-checkbox__checkmark">
    <svg *ngIf="checked && !indeterminate" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg *ngIf="indeterminate" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 6H10" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </span>
  <span *ngIf="label" class="sparkline-checkbox__label">{{ label }}</span>
</label>
