<div [class]="classes" (click)="onClick()" data-component="chip">
  <span *ngIf="showIcon" class="sparkline-chip__icon">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" fill="currentColor"/>
      <path d="M8 8.5C5.51472 8.5 3.5 10.5147 3.5 13V14.5H12.5V13C12.5 10.5147 10.4853 8.5 8 8.5Z" fill="currentColor"/>
    </svg>
  </span>
  <span class="sparkline-chip__label">{{ label }}</span>
  <button
    *ngIf="closable"
    class="sparkline-chip__close"
    (click)="onClose($event)"
    [disabled]="disabled"
    aria-label="Close"
  >
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 4L4 12M4 4L12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </button>
</div>
