<div
  class="sparkline-avatar sparkline-avatar--{{ size }} sparkline-avatar--{{ type }}"
  data-component="avatar"
>
  <div class="sparkline-avatar__container">
    <div
      *ngIf="type === 'text'"
      class="sparkline-avatar__content sparkline-avatar__content--text"
    >
      <span class="sparkline-avatar__text">{{ displayText }}</span>
    </div>
    <div
      *ngIf="type === 'image' && imageSrc"
      class="sparkline-avatar__content sparkline-avatar__content--image"
    >
      <img [src]="imageSrc" [alt]="imageAlt" class="sparkline-avatar__image" />
    </div>
    <div
      *ngIf="type === 'icon'"
      class="sparkline-avatar__content sparkline-avatar__content--icon"
    >
      <svg class="sparkline-avatar__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor"/>
      </svg>
    </div>
    <div *ngIf="showStatus" class="sparkline-avatar__status sparkline-avatar__status--{{ status }}">
      <svg class="sparkline-avatar__status-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" fill="white"/>
      </svg>
    </div>
    <div *ngIf="showNotification" class="sparkline-avatar__notification">
      <span class="sparkline-avatar__notification-text">{{ notificationCount }}</span>
    </div>
  </div>
</div>
