<!-- Left icon -->
<sp-icon
  *ngIf="showLeftIcon"
  class="sp-chip__icon"
  [name]="leftIconName"
  [size]="24"
  color="currentColor"
></sp-icon>

<!-- Label -->
<span class="sp-chip__label">{{ label }}</span>

<!-- Right icon (generic) for plain type -->
<sp-icon
  *ngIf="type === 'plain' && showRightIcon"
  class="sp-chip__icon"
  [name]="rightIconName"
  [size]="24"
  color="currentColor"
></sp-icon>

<!-- Close icon for clearable type -->
<sp-icon
  *ngIf="type === 'clearable'"
  class="sp-chip__close"
  name="close-circle-outline"
  [size]="24"
  color="currentColor"
  (click)="onRemove($event)"
></sp-icon>
